services:
  web:
    build: api/
    ports:
      - "8000:8000"
    depends_on:
      migrations:
        condition: service_completed_successfully
    volumes:
      - ./api:/app
  redis:
    image: "redis:alpine"
  postgres:
    image: postgres:10.5
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    logging:
      options:
        max-size: 10m
        max-file: "3"
    ports:
      - '5432:5432'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  migrations:
    build: api/
    command: ["alembic", "upgrade", "head"]
    depends_on:
      postgres:
        condition: service_healthy
  worker:
    build: worker/
    depends_on:
      - redis
